{% extends "base.html" %} {% block title %}Discovery{% endblock %}

{% block content %}
<div class="container" style="margin-top: 5%; margin-bottom: 5%">
    <h1 style="font-weight: bold;">Discovery</h1>
    <p>In a rush? Pick a template from past Quizzes shared by faculty members.</p>
</div>

 
    
<div class="container">
    <!--Jinja2 Filter: sort all subject into sorted_quizzes from quizzes-->
    {% set sorted_quizzes = quizzes|sort(attribute='subject') %}
    <!--takes sorted list of quizzes, groups by subject, and iterates over each group -->
    {% for subject, subject_quizzess in sorted_quizzes|groupby('subject') %}
    
        <div>
            <h2 style="margin-bottom: -15px ;">{{ subject }}</h2><br>
        </div>
            
            
                
            <div class="row" style="margin-bottom: 2%;">
                <!--iterates over list of quizzes inside subject group-->
                {% for quiz in subject_quizzess %} 
                <div class="col-lg-3" style="margin-top: 1px;">
                    <div class="card h-80" style="background-color: #F0CC6F;border-color: #F0CC6F; margin-bottom: 4%">
                        <a class="card-body" href="{{ url_for('question.view_quiz', quiz_id=quiz.id) }}">
                            <h4 style="color: white;">Quiz by:</h4>
                            <h3 style="color: white;">{{ quiz.user.full_name }}</h3>
                        </a>
                        <div class="card-footer"  style="background-color: white;border-color: white;">
                            <p1>Created on: {{ quiz.date_created }} </p1>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


  
    {% endfor %}
</div>

{% endblock %}