{% extends "base.html" %}
{% block title %}My Quizzes{% endblock %}
{% block content %}

<div class="container" style="margin-top: 5%; margin-bottom: 5%">
    <h1 style="font-weight: bold;">My Quiz</h1>
    <p>Welcome! Here are your quizzes</p>
</div>

<div class="list-group">
    {% for quiz in quizzes %}
    <a href="{{ url_for('question.display_quiz', quiz_id=quiz.id) }}" class="list-group-item list-group-item-action">
        <h5 class="mb-1" style="font-weight: bold;">Quiz: {{ quiz.title }}</h5>
        <small>Subject: {{ quiz.subject }}</small> <br>
        <small>Date: {{quiz.date_created}}</small>
    </a>
    {% endfor %}

</div>

<div class="list-group">
    <a  class="btn btn-light" href="/create-quiz" style="margin-top: 2%;">Add quizzes</a>
</div>
{% endblock %}