{% extends "base.html" %}
{% block title %}My Quizzes{% endblock %}
{% block content %}

<div class="container" style="margin-top: 5%; margin-bottom: 5%">
    <h1 style="font-weight: bold;">My Quiz</h1>
    <p>Welcome! Here are your ongoing quizzes</p>
</div>

<div class="container" style="margin-top: 5%; margin-bottom: 5%">
<form action="submit_quiz_code.php" method="post">
    <label for="quiz-code">Enter Quiz Code:</label>
    <input type="text" id="quiz-code" name="quiz-code" required>
    <button type="submit">Enter</button>
    </form>
    
    
    <div id="codeContainer" style="display: none;">
      <textarea id="codeArea" rows="10" cols="50" placeholder="Enter  code here..."></textarea>
      <br>
      <button id="submitCodeButton">Submit Code </button>
    </div>
</div>


<div class="container">
    <div class="row">
    
        {% for quiz in quizzes %}
        <div class="col-lg-4" style="padding-bottom: 2%;">
            <div class="card" style="background-color: #95B8ED;border-color: white;">
                <div class="card-body" id="heading{{quiz.id}}">
                    <button 
                    class="btn btn-link" 
                    data-toggle="collapse" 
                    data-target="#collapse{{quiz.id}}" 
                    aria-expanded="false" 
                    aria-controls="collapse{{quiz.id}}" 
                    style="text-align: left;">

                        <h2 style="color: white;">Quiz #{{quiz.id}}</h2>
                        <h1 style="color: white;">{{quiz.title}}</h1>

                    </button>
                </div>
    
                <div id="collapse{{quiz.id}}" class="collapse" aria-labelledby="heading{{quiz.id}}">
                    <div class="card-footer"  style="background-color: #DAE9FF;border-color: #DAE9FF;">
                        <small>Subject: {{quiz.subject}}</small><br>
                        <small>Date Created:  {{quiz.date_created}}</small><br>
                        <small>Due Date: </small><br>
                        
                        <div class=" text-center">
                            <a class="btn btn-light btn-sm text-center" href="{{ url_for('question.display_quiz', quiz_id=quiz.id) }}" 
                            style="margin-top: 2%;">Answer Quiz</a>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>





{% endblock %}