{% extends "base.html" %}
{% block title %}Take Quiz{% endblock %}
{% block content %}
<body style="background-color: #E8F1F1;">


<div  class="card p-3" style="margin:0% 10%; border-radius: 10px;">
    <h3 align="center">{{quiz.title}}</h3>
    <p align="center"><strong>Subject:</strong> {{ quiz.subject }}</p>
</div>

   



<form action="{{ url_for('question.submit_quiz', quiz_id=quiz.id) }}" method="POST">
    {% for question in quiz.questions %}
        <div class="card p-3" style="margin:2% 10%; border-radius: 10px;">
            <p1>{{ loop.index }}. {{ question.text }}</p1><br>
            {% for answer in question.answers %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="answer_{{ answer.id }}" value="{{ answer.id }}" required>
                    <label class="form-check-label" for="answer_{{ answer.id }}">
                        {{ answer.text }}
                    </label>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-sm" style="margin: 0% 10%;">Submit</button>
</form>
</body>
{% endblock %}