{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<form method = "POST">
    <h3 align ="center" style="margin-top: 3%;">Sign Up</h3>
    
    <p align="center">Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a></p>
    
    <div class ="form-group">
        <label for="email">Email Address</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email"
        value = {{email}}
        />
    </div>
    <div class ="form-group">
        <label for="fullName">Full Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="fullName" 
        name="fullName" 
        placeholder="Enter full name"
        value = {{full_name}}
        />
    </div>
    <div class ="form-group">
        <label for="password1">Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Enter password"
        value = {{password1}}
        />
    </div>
    <div class ="form-group">
        <label for="password2">Confirm Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Confirm password"
        value = {{password2}}
        />
    </div>
    <div class ="form-group">
        <label for="user_status">Enter role: </label>
        <select name="user_status" id="user_status">
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
        </select>
    </div>
    
    <button type ="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}