{% extends "base.html" %}
{% block title %}Take Quiz{% endblock %}
{% block content %}
<body style="background-color: #E8F1F1;">

<div style="margin-right: 10%; margin-left: 10%;">
<div  class="card p-3" style="margin:2%; border-radius: 10px;">
    <h3 align="center">{{quiz.title}}</h3>
    <p align="center"><strong>Subject:</strong> {{ quiz.subject }}</p>
</div>


    {% for question in quiz.questions %}
        <div class="card p-3" style="margin:2%; border-radius: 10px;">
            <p1>{{ loop.index }}. {{ question.text }}</p1><br>
            {% set choice_labels = ['A', 'B', 'C', 'D'] %}
            {% for answer in question.answers %}
                <div class="form-check">
                    <label name="question_{{ question.id }}" id="answer_{{ answer.id }}" value="{{ answer.id }}" required> </label>
                    <label class="form-check-label" for="answer_{{ answer.id }}">
                        {{ choice_labels[loop.index0] }}.{{ answer.text }}
                    </label>
                    
                    
                </div>
                
            {% endfor %}

            <p  style="padding-top: 2%; padding-left: 3%;"><strong>Correct Answer:</strong> 
                {% for answer in question.answers %}
                    {% if answer.is_correct %}
                        {{ answer.text }}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    {% endfor %}

    {% if quiz.user_id == current_user.id %}
    <a class="btn btn-dark btn-outline-light btn-sm" href="{{ url_for('question.add_question', quiz_id=quiz.id) }}" 
    style="margin-bottom: 2%; margin-left: 2%;">Add question</a>
    {% endif %}

    <a class="btn btn-dark btn-outline-light btn-sm" href="{{ url_for('question.share_quiz', quiz_id=quiz.id) }}" 
    style="margin-bottom: 2%; margin-left: 2%;">Share quiz</a>

</div>
</body>
{% endblock %}